<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :medical_record_number %><br>
    <%= f.number_field :medical_record_number %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :gender, t('.gender') %><br>
    <% Patient::GENDER_TYPE.each_index do |i|  %>
      <% if i == 0 %>
        <%= f.radio_button :gender, Patient::GENDER_TYPE[i], checked: true %>
      <% else %>
        <%= f.radio_button :gender, Patient::GENDER_TYPE[i] %>
      <% end %>
      <%= f.label :gender, Patient::GENDER_TYPE[i] %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, Patient::STATUS_TYPE, prompt: "Please choose status" %>
  </div>

    <div class="field">
    <%= f.label :location_id %><br>
    <%= f.collection_select :location_id, Location.all, :id, :name,  prompt: "Please choose location" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
