<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= raw t('errors.template.header', count: @patient.errors.count, model: t('activerecord.models.patients')) %>.</h2>
      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :medical_record_number %><br>
    <%= f.number_field :medical_record_number %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth, start_year: 120.years.ago.year, end_year: Date.today.year  %>
  </div>
  <div class="field">
    <%= f.label :gender, t('.gender') %><br>
    <% Patient::GENDER_TYPE.each_index do |i|  %>
      <% if i == 0 %>
        <%= f.radio_button :gender, Patient::GENDER_TYPE[i], checked: true %>
      <% else %>
        <%= f.radio_button :gender, Patient::GENDER_TYPE[i] %>
      <% end %>
      <%= f.label :gender, t(".#{Patient::GENDER_TYPE[i]}") %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <% if params["locale"] == "zh-CN" %>
      <%= f.select :status, Patient::STATUS_TYPE_CN, prompt: t('.status_prompt') %>
    <% else %>
      <%= f.select :status, Patient::STATUS_TYPE, prompt: t('.status_prompt') %>
    <% end %>

  </div>

    <div class="field">
    <%= f.label :location_id %><br>
    <%= f.collection_select :location_id, Location.all, :id, :name,  prompt: t(".location_prompt") %>
  </div>
  <div class="actions">
    <%= f.submit t(".s") %>
  </div>
<% end %>
