<h1><%= t('.patients_list') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t '.mr' %></th>
      <th><%= t '.fullname' %></th>
      <th><%= t '.age' %></th>
      <th><%= t '.gender' %></th>
      <th><%= t '.status' %></th>
      <th><%= t '.viewed_count' %></th>
      <th><%= t '.location' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.mr %></td>
        <td><%= patient.fullname %></td>
        <td><%= patient.age_in_years %></td>
        <td><%= t ".#{patient.gender}" %></td>
        <td><%= t ".#{patient.status}" %></td>
        <td><%= patient.viewed_count %></td>
        <td><%= link_to "#{patient.location.name}", patient.location %></td>
        <td><%= link_to "#{t '.show'}", patient %></td>
        <td><%= link_to "#{t '.edit'}", edit_patient_path(patient) %></td>
        <td><%= link_to "#{t '.destroy'}", patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t '.new_patient'}", new_patient_path %>
