<h1>Listing patients</h1>

<table>
  <thead>
    <tr>
      
      <th>Medical record number</th>
      <th>Fullname</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th>Status</th>
      <th>Viewed count</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
     
        <td><%= patient.mr %></td>
        <td><%= patient.fullname %></td>
        <td><%= patient.age_in_years %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.status %></td>
        <td><%= patient.viewed_count %></td>
        <td><%= link_to "#{patient.location.name}", patient.location %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
