<p id="notice"><%= notice %></p>
<h2>Patient</h2>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @patient.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Medical record number:</strong>
  <%= @patient.medical_record_number %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Status:</strong>
  <%= @patient.status %>
</p>

<p>
  <strong>Viewed count:</strong>
  <%= @patient.viewed_count %>
</p>

<p>
  <strong>Location:</strong>
  <%= @patient.location.name %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
