<!-- <p id="notice"><%= notice %></p> -->
<h2><%= t '.title' %></h2>

<p>
<strong><%= t '.first_name' %>:</strong>
  <%= @patient.first_name %>
</p>

<p>
<strong><%= t '.middle_name' %>:</strong>
  <%= @patient.middle_name %>
</p>

<p>
<strong><%= t '.last_name' %>:</strong>
  <%= @patient.last_name %>
</p>

<p>
<strong><%= t '.mr' %>:</strong>
  <%= @patient.mr %>
</p>

<p>
<strong><%= t '.birthday' %>:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
<strong><%= t '.gender' %>:</strong>
<%= t ".#{@patient.gender}" %>
</p>

<p>
<strong><%= t '.status' %>:</strong>
  <%= t ".#{@patient.status}" %>
</p>

<p>
<strong><%= t '.viewed_count' %></strong>
  <%= @patient.viewed_count %>
</p>

<p>
<strong><%= t '.location' %>:</strong>
  <%= @patient.location.name %>
</p>

<%= link_to t('.edit'), edit_patient_path(@patient) %> |
<%= link_to t('.back'), patients_path %>
