<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @location.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'New', new_location_path %> |
<%= link_to "Back_to_Patient_List", patients_path %>

<ul>
  <% @location.patients.each do |patient| %>
    <li><%= link_to patient.fullname, patient %></li>
  <% end %>
</ul>
