<!-- <p id="notice"><%= notice %></p> -->

<p>
<strong><%= t '.code' %>:</strong>
  <%= @location.code %>
</p>

<p>
<strong><%= t '.name' %>:</strong>
  <%= @location.name %>
</p>

<%= link_to t('.edit'), edit_location_path(@location) %> |
<%= link_to t('.new'), new_location_path %> |
<%= link_to t('.back_home'), patients_path %>

<ul>
  <% @location.patients.each do |patient| %>
    <li><%= link_to patient.fullname, patient %></li>
  <% end %>
</ul>
